header {
  width: 100%;
  background-color: black;
}

header img {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 25px 0;
  
}

@media all and (min-width: 700px) {
  header img {
    width: 40%;
  }
}