.results-list {
  font-family: 'Source Code Pro', monospace;
  list-style-type: none;
  padding: 15px 0;
  margin: 0 10px;
  margin-bottom: 25px;
  padding-left: 40px;
  background-color: rgb(61, 61, 61);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px -3px 6px 1px rgba(4, 107, 167, 0.712);
  
}